@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;1,100&family=Barlow:wght@100;400&family=Bellefair&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
    
    background-image: url(/assets/destination/destination-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
}


.hidden{
    display: none;
}

.hamicon {
    position: sticky;
    right:10px;
    background-color: transparent;
    color: white;
    border: none;
    margin-right: 20px;
    margin-left: 10px;
}
.hammenu{
    display: absolute;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    z-index: 999;
    
}

.hamlinks{
    margin: 20px;
    padding: 30px;
}
.hamlinks a{
    font-family: 'barlow condensed', sans-serif;
    font-size: 32px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}

i{
    font-size: 32px;
    cursor: pointer;
}

/*hero section*/



main {
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 20px;
}


main img {
    width: 220px;
    height: 220px;
    padding: 0 50px 0 50px;
    margin: 25px;
    animation: rotate 60s linear infinite;
}

.dest-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}



.des-name button {
    margin: 0 10px 0 10px;
    font-family: 'barlow condensed', sans-serif;
    font-size: 24px;
    padding: 10px;
    color: #D0D6F9;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.active{
    border-bottom: 2px solid white;
    color: white;
}

.info h1 {
    text-align: center;
    font-family: 'bellefair', sans-serif;
    font-size: 64px;
    font-weight: 100;
    margin: 10px;
}

.info p {
    font-family: 'barlow', sans-serif;
    font-size: 20px;
    margin:10px 10px 15px 10px;
    text-align: center;
    color: #D0D6F9;
}

.t-details{
    width: 100%;
    border-top: 1px solid #D0D6F9;
    text-align: center;
}

.t-details p:first-child{
    font-family: 'barlow condensed', sans-serif;
    font-size: 24px;
    color: #D0D6F9;
    margin: 10px;
}

.t-details h1 {
    font-family: 'bellefair', sans-serif;
    font-size: 32px;
    margin: 10px;
}

.t-details p:nth-child(2){
    font-family: 'barlow condensed', sans-serif;
    font-size: 24px;
    color: #D0D6F9;
    margin: 10px;
    text-align:center;
}

.t-details h2 {
    font-family: 'bellefair', sans-serif;
    font-size: 32px;
    margin: 10px;
}








@media screen and (min-width: 768px) 
{


    body{
        width: 100%;
        height: 100vh;
        background-image: url(/assets/destination/destination-tablet.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    img{
        margin-top: 20px;
        margin-left: 64px;
        padding: 10px;
    }
    
    .nav-menu{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .navlinks{
        height: 100%;
        margin: 0 10px 0 10px;
        padding: 20px;
    }
    
    .navlinks:hover{
        border-bottom: 2px solid white;
    }
    
    a {
        display: inline-block;
        text-decoration: none;
        height: 100%;
        color: white;
        font-size: 20px;
        font-family: 'barlow condensed', sans-serif;
    }

    .hammenu{
        display: none;
    }
    
    .hamicon{
        font-size: 36px;
        background-color: transparent;
        border:none;
        color: white;
        display: none;
    
    }

    main {

        color: white;
        display: flex;
        flex-direction: column; 
        margin: 20px;
    }
    
    
    
    main p span {
        font-family: 'barlow condensed', sans-serif;
        font-size: 24px;
        color: #979797;
        margin: 0 10px 0 10px;
    }
    
    main img {
        width: 220px;
        height: 220px;
        padding: 0 50px 0 50px;
        margin: 25px;
    }
    
    .dest-tab {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }
    
    
    
    .des-name button {
        margin: 0 10px 0 10px;
        font-family: 'barlow condensed', sans-serif;
        font-size: 24px;
        padding: 10px;
        color: #D0D6F9;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .active{
        border-bottom: 2px solid white;
        color: white;
    }
    
    .info h1 {
        text-align: center;
        font-family: 'bellefair', sans-serif;
        font-size: 64px;
        font-weight: 100;
        margin: 10px;
    }
    
    .info p {
        font-family: 'barlow', sans-serif;
        font-size: 20px;
        margin:10px 10px 15px 10px;
        text-align: center;
        color: #D0D6F9;
    }
    
    .t-details{
        width: 100%;
        border-top: 1px solid #D0D6F9;
        text-align: center;
    }
    
    .t-details p:first-child{
        font-family: 'barlow condensed', sans-serif;
        font-size: 24px;
        color: #D0D6F9;
        margin: 10px;
    }
    
    .t-details h1 {
        font-family: 'bellefair', sans-serif;
        font-size: 32px;
        margin: 10px;
    }
    
    .t-details p:nth-child(3){
        font-family: 'barlow condensed', sans-serif;
        font-size: 24px;
        color: #D0D6F9;
        margin: 10px;
    }
    
    .t-details h2 {
        font-family: 'bellefair', sans-serif;
        font-size: 32px;
        margin: 10px;
    }
    
}


@media screen and (min-width: 1024px) 
{
    

body{
    width: 100%;
    height: 100vh;
    background-image: url(/assets/destination/destination-desktop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    margin-top: 20px;
    margin-left: 64px;
    padding: 10px;
}

.nav-menu{
    margin-top: 20px;
    margin-right: 48px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navlinks{
    height: 100%;
    margin: 0 10px 0 10px;
    padding: 20px;
}

.navlinks:hover{
    border-bottom: 2px solid white;
}

.navlinks a {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    color: white;
    font-size: 20px;
    font-family: 'barlow condensed', sans-serif;
}

.hammenu{
    display: none;
}

.hamicon{
    font-size: 36px;
    background-color: transparent;
    border:none;
    color: white;
    display: none;

}

main {
    display: flex;
    flex-direction: row;
}

main img {
    width: 480px;
    height: 480px;
    animation: rotate 60s linear infinite;

}

.hero-2 {
    width: 30%;
}




}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

